/* Header bar Hovers */
.logo a:hover {
    transition: 0.15s;
    color: gray;
}

#menu a:hover {
    transition: 0.15s;
    color: grey;
}


/* Icon Hover */
svg:hover {
    transition: 0.15s;
}

.social-icons a:nth-child(1) svg:hover{
    color: grey !important;
}

.social-icons a:nth-child(2) svg:hover {
    color: #0072b1 !important;
}

.social-icons a:nth-child(3) svg:hover {
    color: #13171A !important;
}

.social-icons a:nth-child(4) svg:hover {
    color: #C84370 !important;
}

.social-icons a:nth-child(5) svg:hover {
    color: red; /* Starting with the first rainbow color */
    animation: rainbow 2s infinite; /* 1 second duration, infinite loop */
}

/* Define the keyframes for color change */
@keyframes rainbow {
    0% {
        color: red;
    }
    16% {
        color: orange;
    }
    32% {
        color: yellow;
    }
    48% {
        color: green;
    }
    64% {
        color: blue;
    }
    80% {
        color: indigo;
    }
    100% {
        color: violet;
    }
}


/* Theme hover */
#moon:hover {
    transition: 0.15s;
    color: deepskyblue;
}

#sun:hover {
    transition: 0.15s;
    color: gold;
}

/* Button hover */
.button:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    /* box-shadow: 0 0 0 1px grey; */
    transform: scale(1.1) translateZ(0) translate3d(0, 0, 0) rotate(0.01deg);
}


/* Notes for markdown */

/* .danger,
.note,
.warning {
  background: #efefef;
  border-left-style: solid;
  border-left-width: 0.4rem;
  border-radius: 0.2rem;
  margin-left: 0;
  > p {
    padding: 100px;
    margin-left: 10;
  }
}

.warning {
  border-left-color: #ffbb00;
}

.note {
  border-left-color: #0000ee;
}

.danger {
  border-left-color: #ee0000;
} */