/* Base styles for all comment-related links */
.comments-class a {
  color: #999;
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

/* Hover effect */
.comments-class a:hover {
  color: #fff;
  text-decoration: underline;
}

.comments-class {
    font-size: 15px;
}

.comment {
    padding: 10px 0;
    display: flex;
    align-items: flex-start;
}
.author {
    font-weight: bold;
}

.comment-post-meta-actions .actions-link {
    font-size: 5px;
}

#comment-post-meta-reply {
    font-size: 14px;
    display: block;
    margin-top: 0.05rem; /* space below stats */
    font-weight: 500;
    transition: color 0.2s ease-in-out;
}

#comment-post-meta-reply:hover {
  text-decoration: underline;
}

.avatar {
    flex: none;
    padding-top: 0.5rem; 
    width: 40px;
    height: 40px;
    border-radius: 50%;
    vertical-align: middle;
    display: inline-block;
    margin-right: 8px;
}
.nested-replies {
    margin-left: 20px;
    padding-left: 10px;
}
.actions {
    font-size: 12px;
    color: #666;
}
.nested-replies .comment {
    margin-bottom: 0;
}
.rounded-full {
    border-radius: calc(infinity * 1px);
}